{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'header.css' %}">
    </head>
    <div class='topnav'>
        <a href="/lab-4/add-note">Form</a>
        <a href="/lab-4">Table</a>
        <a href="/lab-4/note-list">List</a>
    </div>    
</html>
