{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Add Note</title>
        <link rel='stylesheet' href="{% static 'style_form.css' %}">
    </head>
    
    <body>
        {% include 'header.html' %}
        <div class="login-box">
            <h2>Add Note</h2>
            <form action='' method="post">
                {% csrf_token %}
                
                <div class="user-box">
                    {{ form.to }}
                    <label>to</label>
                </div>
                <div class="user-box">
                    {{ form.From }}
                    <label>from</label>
                </div>
                <div class="user-box">
                    {{ form.title }}
                    <label>title</label>
                </div>
                
                <div class="user-box">
                    {{ form.message }}
                </div>
                
                <button type="submit", class="submit">Submit</button>
            </form>
        </div>
    </body>
</html>