{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>QAPLA!!!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style_list.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        <section class='card-list'>
            {% if notes %}
                {% for note in notes %}
                    <article class='card'>
                        <header class='card-header'>
                            <p>from : {{note.From}}<br>
                                to  : {{note.to}}</p>
                            <h2>{{note.title}}</h2>
                            <p>{{note.message}}</p>
                        </header>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </body>
</html>