body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #141e30, #49a09d);
    color: white;
}

.example::-webkit-scrollbar {
    display: none;
}


.card-list {
    padding: 3rem;
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 400px;
    min-height: 100px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: 0 0 3rem black;

    transition: .5s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateY(100px);
}

.card:not(:first-child){
    margin-top: -150px;
}

